.subcategory-btn
{
    color: black;
    font-weight: bolder;
}

.thead-dark{
    color: rgb(255, 255, 255);
    background-color: rgb(59, 58, 58);
}

.cart-body{
    color: black;
 background-color: aliceblue;
}

/* .cart-body{
   color: aliceblue;
} */
label {
    display: inline-block;
    margin-bottom: 0.5rem;
}
.form-group {
    margin-bottom: 1rem;
}
.cart-count{
    margin-top: -20px;
    font-size: 10px;
    font-weight: bolder;
}


@keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .home-menu-img {
    animation: rotate 50s linear infinite;
  }





 @media only screen and (max-width: 767px) {
    .mobile-view{
        display: none;
     }
 }
